**/.git
**/.vs
**/.idea
**/bin
**/obj
**/.vercel
Downloads
*.mp4
*.webm
*.mkv
YoutubeDownloader/bin
YoutubeDownloader/obj
YoutubeDownloader.Core/bin
YoutubeDownloader.Core/obj
YoutubeDownloader.Web/bin
YoutubeDownloader.Web/obj
Readme.md
.github
